<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat+Alternates:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <!-- VUE CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Boolflix</title>
</head>
<body>
  <div id="root">
    <header>
      <nav>
        <div class="logo">Boolflix</div>
        <ul>
          <li>
            <select v-model="selected">
              <option value="all">Tutti i generi</option>
              <option v-for="genre in genres" :value="genre.id">{{genre.name}}</option>
            </select>
          </li>
          <li>
            <a href="#">Film</a>
          </li>
          <li>
            <a href="#">Serie</a>
          </li>
          <li>
            <a href="#">Documentari</a>
          </li>
          <li>
            <a href="#">Contatti</a>
          </li>
          <li>
            <a href="#">FAQ</a>
          </li>
        </ul>
      </nav>
      <div class="search">
        <input type="text" placeholder="Cerca..." v-model="searchInput">
        <button type="button" name="button" @click="searchVideo"><i class="fas fa-search"></i></button>
      </div>
    </header>
    <main>
      <ul>
        <li v-for="(video,index) in allVideos" v-if="video.genre_ids.includes(selected) || selected == 'all'">
          <img v-if="video.poster_path != null" :src="'https://image.tmdb.org/t/p/w342/'+ video.poster_path" :alt="video.title">
          <img v-else src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRMdX846r5jMPJv9IRefptsxkNw2G5N9uiUA&usqp=CAU" alt="">
          <div class="info">
            <div class="container title">
              <h5>Titolo:</h5>
              <span v-if="video.title">{{video.title}}</span>
              <span v-else>{{video.name}}</span>
            </div>
            <div class="container original">
              <h5>Titolo Originale:</h5>
              <span v-if="video.original_title">{{video.original_title}}</span>
              <span v-else>{{video.original_name}}</span>
            </div>
            <div class="container language">
              <h5>Lingua:</h5>
              <img v-if="video.original_language == 'en'" src="img/en-flag.png" alt="English">
              <img v-else-if="video.original_language == 'fr'" src="img/fr-flag.png" alt="French">
              <img v-else-if="video.original_language == 'it'" src="img/it-flag.png" alt="Italian">
              <span v-else>{{video.original_language}}</span>
            </div>
            <div class="container rating">
              <h5>Voto:</h5>
              <span class="rating">
                <i class="fa-star" :class="(video.vote_average >= index) ? 'fas' : 'far'" v-for="(star,index) in stars"></i>
                <!-- Full-Empty star version -->
                <!-- <span class="empty">&#9734;&#9734;&#9734;&#9734;&#9734;</span>
                <span class="full" :style="{width: 'calc(100% * (' + film.vote_average + '/ 10))'}">&#9733;&#9733;&#9733;&#9733;&#9733;</span> -->
              </span>
            </div>
            <div v-if="video.overview !== ''" class="container overview">
              <h5>Overview:</h5>
              <span>{{video.overview}}</span>
            </div>
            <div class="container cast">
              <h5>Attori principali:</h5>
              <span v-for="cast in video.casts" >  {{cast.name}}</span>
            </div>
            <div class="container genres">
              <h5>Generi:</h5>
              <span v-for="genre in video.genre_ids"> {{genre}}</span>
            </div>
          </div>
        </li>
      </ul>
    </main>
    <!-- CHANGE PAGE -->
    <!-- <div v-if="films.length > 0" class= result style="color:white; text-align:center;">
      <div>
        <span>Risultati: {{sources.total_results}}</span>
        <div class="infoPage">
          <span>Pagina</span>
          <span>{{sources.page}} di {{sources.total_pages}}</span>
        </div>
      </div>
      <div class="page">
        <i v-if="sources.page > 1" class="fas fa-chevron-left" @click="prevPage"></i>
        <i v-if =" sources.page < sources.total_pages" class="fas fa-chevron-right" @click="nextPage"></i>
      </div>
    </div> -->
  </div>
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
