<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat+Alternates:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <!-- VUE CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Boolflix</title>
</head>
<body>
  <div id="root">
    <header>
      <nav>
        <div class="logo">Boolflix</div>
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Film</a>
          </li>
          <li>
            <a href="#">Serie</a>
          </li>
          <li>
            <a href="#">Documentari</a>
          </li>
          <li>
            <a href="#">Contatti</a>
          </li>
          <li>
            <a href="#">FAQ</a>
          </li>
        </ul>
      </nav>

      <div class="search">
        <input type="text" placeholder="Cerca..." v-model="searchInput">
        <button type="button" name="button"><i class="fas fa-search"></i></button>
      </div>
    </header>
    <main>
      <ul>
        <li v-for="film in films" @mouseenter="visibility = true" @mouseleave="visibility = false">
          <img :src="'https://image.tmdb.org/t/p/w220_and_h330_face/'+ film.poster_path" :alt="film.title">
          <div v-if="visibility" class="info">
            <div class="container">
              <h5>Titolo:</h5>
              <span>{{film.title}}</span>
            </div>
            <div class="container">
              <h5>Titolo Originale:</h5>
              <span>{{film.original_title}}</span>
            </div>
            <div class="container">
              <h5>Voto:</h5><i class="fas fa-star"></i>
            </div>
            <div class="container">
              <h5>Overview:</h5>
              <span>{{film.overview}}</span>
            </div>
          </div>
        </li>
      </ul>
    </main>
  </div>
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
